<!DOCTYPE html>
<html>
    <head>
        <title>Read and write file</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        
        <script src="Scripts/const.js"></script>
        <script src="Scripts/AngularJS/MainApp.js"></script>
    </head> 

    <body ng-app="myApp" ng-controller="myCtrl">
        <div class="container-fluid">
            <h1>Thuan test site</h1>
            <p>Only HTML and Javascript here</p>

            <div class="row" style="position: relative" ng-form="tableofPeople">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <table class="table table-bordered table-hover table-responsive">
                        <thead class="bg-primary">
                            <tr>
                                <th class="text-center" style="width: 10%">Index</th>
                                <th style="width: 55%">Name</th>
                                <th class="text-center" style="width: 15%">Age</th>
                                <th class="text-center" style="width: 10%">Edit</th>
                                <th class="text-center" style="width: 10%">Delete</th>
                            </tr>
                        </thead>
                        <tbody class="bg-warning">
                            <tr ng-repeat="x in names">
                                <td class="text-center">{{ $index + 1 }}</td>
                                <td ng-init="editMode=false; addingMode = (x.name == null && x.name == null ? true : false); ">
                                    <span ng-if="!editMode && !addingMode">{{x.name}}</span>
                                    <input ng-if="editMode || addingMode" ng-keypress="editMode=false" ng-init="editMode=true" ng-model="x.name" style="width: 100%" />
                                </td>
                                <td class="text-center">
                                    <span ng-if="!editMode && !addingMode">{{x.age}}</span>
                                    <input ng-if="editMode || addingMode" ng-model="x.age" style="width: 100%"/>
                                </td>
                                <td class="text-center">
                                    <a ng-click="editMode = !editMode" href="#">
                                        <span ng-if="!editMode && !addingMode">Edit</span>
                                        <span ng-if="editMode && !addingMode">OK</span>
                                    </a>
                                    <a ng-click="addingMode = !addingMode; ToggleAddButton()" href="#">
                                        <span ng-if="addingMode && !editMode">Add it</span>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a ng-click="DeleteAPerson($index)" href="#">
                                        <span>X</span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="">
                        <button ng-click="AddNewPerson(); ToggleAddButton()" ng-disabled="AddButtonEnable" type="button" class="btn btn-info">Add</button>
                        <button ng-click="SaveToServer()" type="button" class="btn btn-info pull-right">Save down to database</button>
                        <button ng-click="RevertChange()" type="button" class="btn btn-basic pull-right">Revert</button>
                    </div>
                </div>
                <div class="col-sm-3"></div>
                <div ng-init="isLoading=false" ng-if="isLoading" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
                    <img class="center-block" src="Images/Loading_icon.gif"/>
                </div>
            </div>
        </div>
    </body>
</html>

<script src="Scripts/AngularJS/Controllers/myAppController.js"></script>
